/*nav-bar*/
nav{
	position: fixed;
	top: 0;
	height: 120px;
	width: 100%;
	z-index: 1;
	background-color: gray;
	border-bottom: 1px solid #A19F9F;
}
nav:after{
	clear: both;
	content: "";
	display: block;
}
.nav-container {
	max-width: 1180px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#logo {
	width: 120px;
	height: 120px;
	margin-top: 0.05px;
}
.nav-container ul{
	float: right;
	height: 150px;
	line-height: 150px;
	margin: 0;
}
.nav-container li{
	list-style: none;
	float: left;
	margin: 0 50px;
	font-size: 20px;
}
.nav-container li a{
	text-decoration: none;
	color:#666;
	transition: .5s;
}
.nav-container li a:hover{
	color:lightblue;
}
footer {
	background-color: dimgray;
	padding-top: 5em;
	padding-bottom: 40px;
	border-top: 5px solid lightblue;
}
footer h2, footer p, footer a, footer span {
	color: #D1D1D1;
}
footer h2 {
	font-weight: 400;
}
footer a {
	text-decoration: none;
}
footer ul {
	padding: 0;
}
footer li {
	list-style: none;
}
.footer-box {
	width: 31%
	padding: 1%;
	float: right;
}
.footer-box1 {
	width: 31%
	padding: 1%;
	float: left;
}
footer .wrapper:after {
	clear: both;
	content: "";
	display: block;
}
.company-footer {
	width: 80%;
}
.company-footer h2 {
	margin-top: 20px;
}
.company-footer h2, .company-footer p {
	margin-bottom: 20px;
}
.footer-list li{
	margin-bottom: 15px;
}
.footer-list a {
	transition: 0.5s;
}
.footer-list a:hover {
	color: white;
}
.footer-list li:after {
	clear: both;
	content: "";
	display: block;
}
.article-footer {
	width: 80%;
}
.footer-list .footer-article-list span {
	display: block;
	float: none;
}
.fab {
	font-size: 30px;
	margin-right: 10px;
	float: left;
}
.fas {
	font-size: 30px;
	margin-right: 10px;
	float: left;
}
.container {
	line-height: 150px;
}
/*footer*/
.footer-list li span {
	float: left;
	height: 30px;
	line-height: 30px;
}
.footer-bottom {
	border-top: 1px solid #B2B2B2;
}
.footer-bottom p {
	font-weight: 600;
	margin-top: 40px;
}
#imagem {
	float: right;
	width: 130px;
}
