/*geral*/
html{
	font-family: cursive;
}
body{
	margin: 0;
}
h1,h2,h3,h4,h5,span{
	margin: 0;
	color: gray;
}
p{
	color:black;
}
.container {
	max-width: 1920px;
	width: 100%;
	text-transform: uppercase;
}
/*header*/
header{
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
}
/*nav-bar*/
nav{
	position: fixed;
	top: 0;
	height: 120px;
	width: 100%;
	z-index: 1;
	background-color: white;
	border-bottom: 1px solid blueviolet;
}
nav:after{
	clear: both;
	content: "";
	display: block;
}
.nav-container {
	max-width: 1180px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#logo {
	width: 120px;
	height: 120px;
	margin-top: 0.05px;
}
.nav-container ul{
	float: right;
	height: 150px;
	line-height: 150px;
	margin: 0;
}
.nav-container li{
	list-style: none;
	float: left;
	margin: 0px 40px 20px;
	font-size: 14px;
}
.nav-container li a{
	text-decoration: none;
	color:#FFF;
	transition: .5s;
}
.nav-container li a:hover{
	color:#FFF;
	border-radius:8px;
	text-indent:2px;
	background: #5DC139;
	font-size: 18px;
}
/*banner*/
#main-banner{
	background: url('../img/branco.jpg') no-repeat;
	background-size: cover;
	background-position: 0 50%;
	position: relative;
	margin-top: 100px;
}
#search-form{
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15em;
	padding-bottom: 15em;
	text-align: center;
}
#search-form input {/*
	background-color: white;*/
	border-radius: 5px;
	border-color: transparent;
	padding-top: 10px 20px;
	font-size: 18px;
	margin: 0 10px;
}
#search-form input [type=submit] {
	background-color: blue;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	transition: 0.5s;
}
#search-form input [type=submit]:hover {
	background-color: transparent;
	color: #FEFDFD;
}
/* send vere container */
#sendvere-container{
	background:url('../img/banner22.jpeg') no-repeat;
	background-size: cover;
	background-position: 0 25%;
	padding: 15em 0;
}
.light-btn{
	background-color: #FEFDFD;
	border: 2px solid #FEFDFD;
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	transition: 0.5s;
}
.light-btn:hover {
	background-color: transparent;
	color: #FEFDFD;
}
/*testmony container*/
#testmony-container {
	background: url('../img/banner21.jpg') no-repeat;
	background-size: cover;
	padding: 10em 0;
}
#testmony-container h2, #testmony-container p{
	color: #090908;
	text-align: center;
}
#testmony-container h2{
	font-size: 36px;
	margin-bottom: 50px;
}
#testmony-container p{
	margin-bottom: 50px;
}
.testmony-box{
	display: inline-block;
	width: 24.5%;
	text-align: center;
}
#testmony-container .testmony-box .testmony-msg {
	background-color: white;
	color: gray;
	border-radius: 10px;
	padding: 20px;
	width: 50%;
	position: relative;
	margin: 35px auto;
	font-style: italic;
}
.testmony-msg:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px white;
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.testmony-box img{
	width: 100px
	height: 100px;
	border: 1px solid #A19F9F;
	border-radius: 50%;
}
.testmony-name {
	font-weight: bold;
}
/* Blog Container */
#blog-container {
	text-align: center;
	padding: 5em 0;
}
#blog-container .p-center {
	margin-bottom: 60px;
}
.article-box {
	display: inline-block;
	width: 31%;
	padding: 0 1%;
	text-align: left;
}
.article-box img {
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}
.article-box h4 {
	font-size: 24px;
	margin-bottom: 15px;
}
.article-box h4 a {
	text-decoration: none;
	color:gray;
}
.article-date {
	font-size: 12px;
	margin-bottom: 15px;
}
.article-resume {
	font-size: 14px;
	margin-bottom: 30px;
}
.article-btn {
	background-color: lightblue;
	border-color: lightblue;
	color: white;
}
.article-btn:hover {
	background-color: white;
	color: lightblue;
}
/* footer */
footer {
	background-color: dimgray;
	padding-top: 5em;
	padding-bottom: 40px;
	border-top: 5px solid lightblue;
}
footer h2, footer p, footer a, footer span {
	color: #D1D1D1;
}
footer h2 {
	font-weight: 400;
}
footer a {
	text-decoration: none;
}
footer ul {
	padding: 0;
}
footer li {
	list-style: none;
}
.footer-box {
	width: 31%
	padding: 1%;
	float: right;
}
.footer-box1 {
	width: 31%
	padding: 1%;
	float: left;
}
footer .wrapper:after {
	clear: both;
	content: "";
	display: block;
}
.company-footer {
	width: 80%;
}
.company-footer h2 {
	margin-top: 20px;
}
.company-footer h2, .company-footer p {
	margin-bottom: 20px;
}
.footer-list li{
	margin-bottom: 15px;
}
.footer-list a {
	transition: 0.5s;
}
.footer-list a:hover {
	color: white;
}
.footer-list li:after {
	clear: both;
	content: "";
	display: block;
}
.article-footer {
	width: 80%;
}
.footer-list .footer-article-list span {
	display: block;
	float: none;
}
.fab {
	font-size: 30px;
	margin-right: 10px;
	float: left;
}
.fas {
	font-size: 30px;
	margin-right: 10px;
	float: left;
}
.footer-list li span {
	float: left;
	height: 30px;
	line-height: 30px;
}
.footer-bottom {
	border-top: 1px solid #B2B2B2;
}
.footer-bottom p {
	font-weight: 600;
	margin-top: 40px;
}
#imagem {
	float: right;
	width: 130px;
}
/*.borda {
	border:dotted;
	border-color: white;
	border-width: 3px 0px 0px 0px;
}*/
.nome {
	float: right;
}
.borda {
	float: right;
}
